body {
    margin: 0;
    padding: 0;
    background: #1D2A3A;
    color: #eee;
    font-family: "Trebuchet MS", sans-serif;
}

#main {
    width: calc(100% - 260px);
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;
    color: #f0f0f0;
}

.card {
    background: #243447;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid #111;
    box-shadow: 0 4px 0 #111;
}
