<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cardstock{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- Global Styles -->
    {% include "stylesheets.html" %}

    {% block extra_css %}{% endblock %}
</head>

<body>

    {% include "navbar.html" %}

    <div id="main">
        {% block content %}{% endblock %}
    </div>

    <!-- Global Scripts -->
    {% include "scripts.html" %}

    {% block extra_js %}{% endblock %}

</body>
</html>
