<!DOCTYPE html>
<html>
  <head>
    <title>Trading Dashboard</title>
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body data-backend-url="{{ backend_url }}">
      <h1>Trading Dashboard</h1>
      <p>Backend: <code id="backend-url"></code></p>

      <div class="row">
        <div class="card half">
          <h3>Create Trade</h3>
          <label>Symbol</label><input id="create-symbol" placeholder="AAPL" />
          <label>Shares</label><input id="create-shares" type="number"
            placeholder="10" />
          <label>Buy Price</label><input id="create-price" type="number"
            step="0.01" placeholder="150.50" />
          <button onclick="createTrade()">Create</button>
          <pre id="create-result"></pre>
        </div>

        <div class="card half">
          <h3>Update Trade Price</h3>
          <label>Symbol</label><input id="update-symbol" placeholder="AAPL" />
          <label>New Price</label><input id="update-price" type="number"
            step="0.01" placeholder="155.00" />
          <button onclick="updateTrade()">Update</button>
          <pre id="update-result"></pre>
        </div>
      </div>
      <div class="row">
        <div class="card half">
          <h3>Delete Trade</h3>
          <label>Symbol</label><input id="delete-symbol" placeholder="AAPL" />
          <button onclick="deleteTrade()">Delete</button>
          <pre id="delete-result"></pre>
        </div>

        <div class="card half">
          <h3>Portfolio</h3>
          <button onclick="loadPortfolio()">Refresh</button>
          <pre id="portfolio"></pre>
        </div>
      </div>

      <div class="card">
        <h3>Live Market Panel</h3>
        <p>Embedded dashboard.</p>
        <iframe
          id="grafana-frame"
          src="http://localhost:3000/public-dashboards/f466fab8d49b4d0280fa57ae1f9bb7a9"
          width="100%"
          height="600"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>

      <script>
        window.BACKEND_URL = "{{ backend_url }}";
      </script>
      <script src="../static/js/index.js"></script>
    </body>
  </html>
